{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.confPassword) }}
        {{ form_row(registrationForm.langue) }}
        
        <button class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
