{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}
    <h1>Show</h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset(show.posterUrl) }}" alt="{{ show.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ show.title }}</h5>
          <p class="card-text">{{ show.title }}</p>
        {% if show.bookable %}
          <a href="#" class="btn btn-primary">Réserver</a>
        {% endif %}
        </div>
    </div>
        
    <a href="{{ path('show_index') }}">back to list</a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('show_edit', {'id': show.id}) }}">edit</a>

    {{ include('show/_delete_form.html.twig') }}
{% endif %}
{% endblock %}
